:root {
	--white-color: #F6F6F6;
	--black-color: #272822;
	--red-color: red;
	--blue-color: blue;
	--green-color: green;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.5em;
}

.icon-large {
    font-size: 18px;    
}

.menu {
    height: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 30px;
}

#content {
    height: 100%;
    color: var(--white-color);
    background: var(--black-color);
}

 /*background-color: var(--main-bg-color);*/